@font-face {
  font-family: 'NunitoSans-light';
  src: url(./../../res/fonts/Nunito_Sans/NunitoSans-Light.ttf);
}

@font-face {
  font-family: 'NunitoSans-bold';
  src: url(./../../res/fonts/Nunito_Sans/NunitoSans-Bold.ttf);
}

@font-face {
  font-family: 'Montserrat-bold';
  src: url(./../../res/fonts/Montserrat/Montserrat-Bold.ttf);
}

.dn {
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.f-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  max-height: 882px;
  height: 55.18vw;
  background: url(./../res/img/hero-bg-img.png) no-repeat center, url(./../res/img/hero-bg-img.png) no-repeat center;
  background-size: cover;
  position: relative;
}

.header__top {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 107px;
  position: absolute;
  width: 100%;
}

.header__logo {
  background: url(./../res/img/logo.png) no-repeat;
  background-size: cover;
  width: 153px;
  height: 36px;
  margin-left: 76px;
}

.header__menu-icon {
  width: 26px;
  height: 20px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  margin-right: 91px;
}

.header__menu-icon span {
  width: 100%;
  height: 2px;
  background: #fff;
}

.header .wrapper {
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__title {
  font: 170px "Montserrat-bold", sans-serif;
  line-height: 1;
  color: #fff;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: -3.1px;
  margin: 0 0 14px 0;
}

.header__subtitle {
  font: 37px "NunitoSans-light", sans-serif;
  line-height: 1.297;
  color: #9c9c9c;
  font-weight: 100;
  margin: 0 0 60px 0;
  padding-left: 9px;
}

.header__video {
  margin-bottom: 71px;
  text-align: center;
}

.header__video_btn {
  border-radius: 50%;
  background-color: #793ea5;
  width: 90px;
  height: 90px;
  border: 0;
  outline: none;
  position: relative;
}

.header__video_btn::before {
  content: '';
  position: absolute;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  border-left: 23px solid #fff;
  border-top: 13.5px solid transparent;
  border-bottom: 13.5px solid transparent;
}

.header__video_text {
  font: 14px "NunitoSans-bold", sans-serif;
  line-height: 17px;
  color: #9c9c9c;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.header__btn {
  margin-bottom: 85px;
}

.header__btn button {
  padding: 0;
  border: none;
  outline: none;
  background-color: #13161b;
  width: 298px;
  height: 72px;
  letter-spacing: 3.5px;
  cursor: pointer;
  font: 12px "NunitoSans-bold", sans-serif;
  line-height: initial;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

.header__btn button:hover {
  background-color: #793ea5;
}

.about {
  background: #121212;
}

.about__coll {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__coll:nth-child(1) {
  border: 1px solid red;
}

.about__coll_item:nth-child(1) .about__coll_title::before {
  content: "1";
}

.about__coll_item:nth-child(2) .about__coll_title::before {
  content: "2";
}

.about__coll_item:nth-child(3) .about__coll_title::before {
  content: "3";
}

.about__coll_item:nth-child(4) .about__coll_title::before {
  content: "4";
}

.about__coll_title {
  position: relative;
  padding-left: 72px;
}

.about__coll_title::before {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  left: 0;
  line-height: 48px;
  background: #662d91;
  text-align: center;
}

.services {
  background: #0f0f0f;
}

.services__coll {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works {
  background-color: #121212;
  background: url(./../res/img/works-bg.png) no-repeat left center;
  background-size: cover;
}

.gallery {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.gallery__item {
  position: relative;
  overflow: hidden;
}

.gallery__item:hover .gallery__content {
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.gallery__img {
  width: 100%;
  display: block;
}

.gallery__content {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: absolute;
  padding: 0 24px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.gallery__name, .gallery__subname {
  margin: 0;
}

.gallery__link {
  background: url(./../res/img/card-link.png) no-repeat center;
  display: block;
  width: 44px;
  height: 76px;
  border-radius: 0 0 22px 22px;
}

.gallery__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client {
  background: #0f0f0f;
}

.client .wrapper {
  text-align: center;
}

.client__list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client span {
  font-size: 45px;
  font-family: "NunitoSans", sans-serif;
  color: rgba(255, 255, 255, 0.302);
  font-weight: bold;
  line-height: 1.933;
}

.testimonials {
  background: url(./../res/img/quote-bg.png) no-repeat;
  background-size: cover;
}

.testimonials__quote {
  margin: 0;
  font-size: 36px;
  font-family: "NunitoSans", sans-serif;
  color: white;
  line-height: 1.667;
  text-align: center;
  position: relative;
  padding-top: 100px;
}

.testimonials__quote::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(./../res/img/quote.png) no-repeat;
  width: 45px;
  height: 30px;
}

.testimonials__name {
  text-align: center;
  font-size: 15px;
  font-family: "NunitoSans", sans-serif;
  color: #5e3080;
  text-transform: uppercase;
  line-height: 2.002;
  -webkit-transform: matrix(1.0, 0, 0, 1.00081, 0, 0);
  transform: matrix(1.0, 0, 0, 1.00081, 0, 0);
}

.testimonials__position {
  text-align: center;
  font-size: 15px;
  font-family: "NunitoSans", sans-serif;
  color: rgba(153, 153, 153, 0.502);
  line-height: 2;
  -webkit-transform: matrix(1.0, 0, 0, 1.00081, 0, 0);
  transform: matrix(1.0, 0, 0, 1.00081, 0, 0);
  margin: 0;
}

.contact {
  background-color: #5e3080;
}

.contact__title {
  margin: 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #2a1538;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
  -webkit-transform: matrix(0.9998, 0, 0, 1.0, 0, 0);
  transform: matrix(0.9998, 0, 0, 1.0, 0, 0);
}

.contact__desc {
  margin: 0;
  font-size: 46px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  -webkit-transform: matrix(0.9998, 0, 0, 1.0, 0, 0);
  transform: matrix(0.9998, 0, 0, 1.0, 0, 0);
}

.contact__mail {
  font-size: 90px;
  font-family: "NunitoSans", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.contact__addr {
  font-size: 33px;
  font-family: "NunitoSans", sans-serif;
  color: rgba(255, 255, 255, 0.631);
  line-height: 1.636;
  text-align: center;
}

.contact__tel {
  font-size: 33px;
  font-family: "NunitoSans", sans-serif;
  color: rgba(255, 255, 255, 0.631);
  line-height: 1.636;
  text-align: center;
}

.common__title {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #793ea5;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.common__desc {
  font-size: 46px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.5;
}

.common__subdesc {
  font-size: 24px;
  font-family: "NunitoSans", sans-serif;
  color: rgba(255, 255, 255, 0.2);
  line-height: 1.625;
}

.common__card_item {
  width: 45%;
}

.common__card_title {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 0.75;
}

.common__card_desc {
  font-size: 17px;
  font-family: "NunitoSans", sans-serif;
  color: rgba(255, 255, 255, 0.4);
  line-height: 1.941;
  text-align: left;
}
/*# sourceMappingURL=main.css.map */