@font-face {
  font-family: 'NunitoSans-light';
  src: url(./../../res/fonts/Nunito_Sans/NunitoSans-Light.ttf);
}

@font-face {
  font-family: 'NunitoSans';
  src: url(./../../res/fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: 'NunitoSans-bold';
  src: url(./../../res/fonts/Nunito_Sans/NunitoSans-Bold.ttf);
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(./../../res/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: 'Montserrat-bold';
  src: url(./../../res/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(./../../res/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

.common__title {
  font: 18px "Montserrat-SemiBold", sans-serif;
  line-height: 1.333;
  color: #793ea5;
  font-weight: 600;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  margin: 0;
}

.common__desc {
  font: 46px "Montserrat-SemiBold", sans-serif;
  line-height: 1.5;
  color: #fff;
  font-weight: 600;
  letter-spacing: -0.23px;
}

.common__subdesc {
  font: 24px "NunitoSans-light", sans-serif;
  line-height: 1.625;
  color: #ffffff33;
  font-weight: 100;
}

.common__card_item {
  width: 47.3%;
}

.common__card_title {
  font: 24px "Montserrat-SemiBold", sans-serif;
  line-height: 0.75;
  color: #fff;
  font-weight: 600;
}

.common__card_desc {
  font: 17px "NunitoSans", sans-serif;
  line-height: 1.95;
  color: #ffffff66;
  font-weight: 400;
}

.dn {
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
}

.f-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  max-height: 882px;
  height: 55.18vw;
  background: url(./../res/img/hero-bg-img.png) no-repeat center, url(./../res/img/hero-bg-img.png) no-repeat center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.header__top {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 107px;
  position: absolute;
  width: 100%;
}

.header__logo {
  background: url(./../res/img/logo.png) no-repeat;
  background-size: cover;
  width: 153px;
  height: 36px;
  margin-left: 76px;
}

.header__menu-icon {
  width: 26px;
  height: 20px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  margin-right: 91px;
}

.header__menu-icon span {
  width: 100%;
  height: 2px;
  background: #fff;
}

.header .wrapper {
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__title {
  font: 170px "Montserrat-bold", sans-serif;
  line-height: 1;
  color: #fff;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: -3.1px;
  margin: 0 0 14px 0;
}

.header__subtitle {
  font: 37px "NunitoSans-light", sans-serif;
  line-height: 1.297;
  color: #9c9c9c;
  font-weight: 100;
  margin: 0 0 60px 0;
  padding-left: 9px;
}

.header__video {
  margin-bottom: 71px;
  text-align: center;
}

.header__video_btn {
  border-radius: 50%;
  background-color: #793ea5;
  width: 90px;
  height: 90px;
  border: 0;
  outline: none;
  position: relative;
}

.header__video_btn::before {
  content: '';
  position: absolute;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  border-left: 23px solid #fff;
  border-top: 13.5px solid transparent;
  border-bottom: 13.5px solid transparent;
}

.header__video_text {
  font: 14px "NunitoSans-bold", sans-serif;
  line-height: 17px;
  color: #9c9c9c;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.header__btn {
  margin-bottom: 85px;
}

.header__btn button {
  padding: 0;
  border: none;
  outline: none;
  background-color: #13161b;
  width: 298px;
  height: 72px;
  letter-spacing: 3.5px;
  cursor: pointer;
  font: 12px "NunitoSans-bold", sans-serif;
  line-height: initial;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

.header__btn button:hover {
  background-color: #793ea5;
}

.header__scroll {
  font: 12px "Montserrat-Medium", sans-serif;
  line-height: 2;
  color: #fff;
  font-weight: 500;
  position: absolute;
  bottom: 75px;
  right: 61px;
  color: #fff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-transform: uppercase;
  -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
  transform: matrix(0, -1, 1, 0, 0, 0);
  letter-spacing: 2.9px;
}

.header__soc-icon {
  position: absolute;
  left: 46px;
  bottom: 15px;
}

.header__soc-icon .header__soc-icon_item:nth-child(1) .link {
  background-position-y: -0px;
}

.header__soc-icon .header__soc-icon_item:nth-child(2) .link {
  background-position-y: -41.5px;
}

.header__soc-icon .header__soc-icon_item:nth-child(3) .link {
  background-position-y: -83px;
}

.header__soc-icon .header__soc-icon_item:nth-child(4) .link {
  background-position-y: -124.5px;
}

.header__soc-icon .header__soc-icon_item:nth-child(5) .link {
  background-position-y: -166px;
}

.header__soc-icon_item {
  margin: 22px 0;
  list-style: none;
}

.header__soc-icon .link {
  display: block;
  background: url(./../res/img/soc-icon.png) no-repeat;
  width: 19px;
  height: 19px;
}

.about {
  background: #121212;
}

.about .wrapper {
  padding: 181px 10px;
}

.about__title {
  text-transform: uppercase;
}

.about__desc {
  margin-top: 30px;
}

.about__coll {
  margin-top: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__coll_item {
  margin-bottom: 18px;
}

.about__coll_title {
  position: relative;
  padding-left: 70px;
}

.about__coll_title::before {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  left: 0;
  top: -14px;
  background: #662d91;
  text-align: center;
  font: 21px "Montserrat-bold", sans-serif;
  line-height: 48px;
  color: #fff;
  font-weight: 900;
}

.about__coll:nth-child(1) {
  border: 1px solid red;
}

.about__coll_item:nth-child(1) .about__coll_title::before {
  content: "1";
}

.about__coll_item:nth-child(2) .about__coll_title::before {
  content: "2";
}

.about__coll_item:nth-child(3) .about__coll_title::before {
  content: "3";
}

.about__coll_item:nth-child(4) .about__coll_title::before {
  content: "4";
}

.services {
  background: #0f0f0f;
}

.services .wrapper {
  padding: 192px 10px 200px 10px;
}

.services__desc {
  margin-top: 30px;
  width: 99%;
}

.services__coll {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 115px;
}

.services__coll_item {
  width: 50%;
  max-width: 500px;
  padding-left: 83px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services__coll_item:nth-child(2n + 1) {
  margin-left: -10.5px;
}

.services__coll .uiux-icon {
  background: url("./../res/img/uiux_serv.png") no-repeat 11px 20px;
}

.services__coll .star-icon {
  background: url("./../res/img/star_serv.png") no-repeat 11px 20px;
}

.services__coll .illustration-icon {
  background: url("./../res/img/illustration_serv.png") no-repeat 11px 20px;
}

.services__coll .frontend-icon {
  background: url("./../res/img/frontend_serv.png") no-repeat 11px 20px;
}

.services__coll .marketing-icon {
  background: url("./../res/img/marketing_serv.png") no-repeat 11px 20px;
}

.services__coll .photography-icon {
  background: url("./../res/img/photography_serv.png") no-repeat 11px 20px;
}

.services__coll_desc {
  margin-bottom: 12px;
}

.works {
  background-color: #121212;
  background: url(./../res/img/works-bg.png) no-repeat left center;
  background-size: cover;
  text-align: center;
}

.works .wrapper {
  padding-top: 184px;
  padding-bottom: 198px;
}

.works__desc {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 135px;
}

.works__gallery {
  width: 102%;
  position: relative;
  -webkit-transform: translateX(-1%);
          transform: translateX(-1%);
}

.works .gallery {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.works .gallery__item {
  position: relative;
  overflow: hidden;
}

.works .gallery__item:hover .gallery__content {
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.works .gallery__img {
  width: 100%;
  display: block;
}

.works .gallery__content {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: absolute;
  padding: 0 24px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.works .gallery__name, .works .gallery__subname {
  margin: 0;
}

.works .gallery__link {
  background: url(./../res/img/card-link.png) no-repeat center;
  display: block;
  width: 44px;
  height: 76px;
  border-radius: 0 0 22px 22px;
}

.works .gallery__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client {
  background: #0f0f0f;
}

.client .wrapper {
  text-align: center;
}

.client__list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client span {
  font-size: 45px;
  font-family: "NunitoSans", sans-serif;
  color: rgba(255, 255, 255, 0.302);
  font-weight: bold;
  line-height: 1.933;
}

.testimonials {
  background: url(./../res/img/quote-bg.png) no-repeat;
  background-size: cover;
}

.testimonials__quote {
  margin: 0;
  font-size: 36px;
  font-family: "NunitoSans", sans-serif;
  color: white;
  line-height: 1.667;
  text-align: center;
  position: relative;
  padding-top: 100px;
}

.testimonials__quote::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(./../res/img/quote.png) no-repeat;
  width: 45px;
  height: 30px;
}

.testimonials__name {
  text-align: center;
  font-size: 15px;
  font-family: "NunitoSans", sans-serif;
  color: #5e3080;
  text-transform: uppercase;
  line-height: 2.002;
  -webkit-transform: matrix(1.0, 0, 0, 1.00081, 0, 0);
  transform: matrix(1.0, 0, 0, 1.00081, 0, 0);
}

.testimonials__position {
  text-align: center;
  font-size: 15px;
  font-family: "NunitoSans", sans-serif;
  color: rgba(153, 153, 153, 0.502);
  line-height: 2;
  -webkit-transform: matrix(1.0, 0, 0, 1.00081, 0, 0);
  transform: matrix(1.0, 0, 0, 1.00081, 0, 0);
  margin: 0;
}

.contact {
  background-color: #5e3080;
}

.contact__title {
  margin: 0;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #2a1538;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: center;
  -webkit-transform: matrix(0.9998, 0, 0, 1.0, 0, 0);
  transform: matrix(0.9998, 0, 0, 1.0, 0, 0);
}

.contact__desc {
  margin: 0;
  font-size: 46px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  -webkit-transform: matrix(0.9998, 0, 0, 1.0, 0, 0);
  transform: matrix(0.9998, 0, 0, 1.0, 0, 0);
}

.contact__mail {
  font-size: 90px;
  font-family: "NunitoSans", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.contact__addr {
  font-size: 33px;
  font-family: "NunitoSans", sans-serif;
  color: rgba(255, 255, 255, 0.631);
  line-height: 1.636;
  text-align: center;
}

.contact__tel {
  font-size: 33px;
  font-family: "NunitoSans", sans-serif;
  color: rgba(255, 255, 255, 0.631);
  line-height: 1.636;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */