@import './var/fonts';
@import './var/_common.scss';

.dn {
    display: none;
}

.wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}

.f-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    max-height: 882px;
    height: 55.18vw;
    background: url(./../res/img/hero-bg-img.png) no-repeat center, url(./../res/img/hero-bg-img.png) no-repeat center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

    &__top {
        flex-direction: row;
        justify-content: space-between;
        height: 107px;
        position: absolute;
        width: 100%;
    }

    &__logo {
        background: url(./../res/img/logo.png) no-repeat;
        background-size: cover;
        width: 153px;
        height: 36px;
        margin-left: 76px;
    }

    &__menu-icon {
        width: 26px;
        height: 20px;
        transform: translateY(20px);
        margin-right: 91px;

        span {
            width: 100%;
            height: 2px;
            background: #fff;
        }
    }

    .wrapper {
        height: 100%;
        justify-content: flex-end;
    }

    &__title {
        @include Font_set(170px, 1, "Montserrat-bold", #fff);
        text-transform: capitalize;
        text-align: center;
        letter-spacing: -3.1px;
        margin: 0 0 14px 0;
    }

    &__subtitle {
        @include Font_set(37px, 1.297, "NunitoSans-light", #9c9c9c);
        margin: 0 0 60px 0;
        padding-left: 9px;
    }

    &__video {
        margin-bottom: 71px;
        text-align: center;

        &_btn {
            border-radius: 50%;
            background-color: rgb(121, 62, 165);
            width: 90px;
            height: 90px;
            border: 0;
            outline: none;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                transform: translate(-40%, -50%);
                border-left: 23px solid #fff;
                border-top: 13.5px solid transparent;
                border-bottom: 13.5px solid transparent;
            }
        }

        &_text {
            @include Font_set(14px, 17px, "NunitoSans-bold", #9c9c9c);
            letter-spacing: 4px;
            text-transform: uppercase;
        }
    }

    &__btn {
        margin-bottom: 85px;

        button {
            padding: 0;
            border: none;
            outline: none;
            background-color: rgb(19, 22, 27);
            width: 298px;
            height: 72px;
            letter-spacing: 3.5px;
            cursor: pointer;
            @include Font_set(12px, initial, "NunitoSans-bold", #fff);
            text-transform: uppercase;

            &:hover {
                background-color: rgb(121, 62, 165);
            }
        }
    }

    &__scroll {
        @include Font_set(12px, 2, 'Montserrat-Medium', #fff);
        position: absolute;
        bottom: 75px;
        right: 61px;
        color: #fff;
        transform: rotate(-90deg);
        text-transform: uppercase;
        -moz-transform: matrix(0, -1, 1, 0, 0, 0);
        -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
        -ms-transform: matrix(0, -1, 1, 0, 0, 0);
        transform: matrix(0, -1, 1, 0, 0, 0);
        letter-spacing: 2.9px;
    }

    &__soc-icon {
        position: absolute;
        left: 46px;
        bottom: 15px;

        @for $i from 1 through 5 {
            .header__soc-icon_item:nth-child(#{$i}) .link {
                background-position-y: -#{($i - 1)*41.5}px;
            }
        }

        &_item {
            margin: 22px 0;
            list-style: none;
        }

        .link {
            display: block;
            background: url(./../res/img/soc-icon.png) no-repeat;
            width: 19px;
            height: 19px;

        }
    }
}

.about {
    background: #121212;

    .wrapper {
        padding: 181px 10px;
    }

    &__title {
        text-transform: uppercase;
    }

    &__desc {
        margin-top: 30px;
    }

    &__coll {
        margin-top: 80px;
        flex-direction: row;
        flex-wrap: wrap;

        &_item {
            margin-bottom: 18px;
        }

        &_title {
            position: relative;
            padding-left: 70px;

            &::before {
                position: absolute;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                left: 0;
                top: -14px;
                background: #662d91;
                text-align: center;

                @include Font_set(21px, 48px, 'Montserrat-bold', #fff);
            }
        }


        &:nth-child(1) {
            border: 1px solid red;
        }

        @for $i from 1 through 4 {
            &_item:nth-child(#{$i}) .about__coll_title {
                &::before {
                    content: '#{$i}';
                }
            }
        }
    }
}

.services {
    background: #0f0f0f;

    .wrapper {
        padding: 192px 10px 200px 10px;
    }

    &__desc {
        margin-top: 30px;
        width: 99%;
    }

    &__coll {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 115px;

        &_item {
            width: 50%;
            max-width: 500px;
            padding-left: 83px;
            box-sizing: border-box;

            &:nth-child(2n + 1) {
                margin-left: -10.5px;
            }

        }

        @each $icon in uiux,
        star,
        illustration,
        frontend,
        marketing,
        photography {
            .#{$icon}-icon {
                background: url('./../res/img/#{$icon}_serv.png') no-repeat 11px 20px;
            }
        }

        // uiux star illustration frontend marketing photography
        &_desc {
            margin-bottom: 12px;
        }
    }
}

.works {
    background-color: #121212;
    background: url(./../res/img/works-bg.png) no-repeat left center;
    background-size: cover;
    text-align: center;

    .wrapper {
        padding-top: 184px;
        padding-bottom: 198px;
    }

    &__desc {
        width: 95%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 135px;
    }

    &__gallery {
        width: 102%;
        position: relative;
        transform: translateX(-1%);
    }

    .gallery {
        column-count: 2;
        column-gap: 0;

        &__item {
            position: relative;
            overflow: hidden;

            &:hover .gallery__content {
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .5);
                color: #fff;
            }

        }

        &__img {
            width: 100%;
            display: block;
        }

        &__content {
            align-items: baseline;
            position: absolute;
            padding: 0 24px 24px;
            box-sizing: border-box;
            transition: .3s all;
        }

        &__name,
        &__subname {
            margin: 0;
        }

        &__link {
            background: url(./../res/img/card-link.png) no-repeat center;
            display: block;
            width: 44px;
            height: 76px;
            border-radius: 0 0 22px 22px;
        }

        &__desc {
            flex: 1;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
        }
    }
}



.client {
    background: #0f0f0f;

    .wrapper {
        text-align: center;
    }

    &__list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    span {
        font-size: 45px;
        font-family: "NunitoSans", sans-serif;
        color: rgba(255, 255, 255, 0.302);
        font-weight: bold;
        line-height: 1.933;
    }
}

.testimonials {
    background: url(./../res/img/quote-bg.png) no-repeat;
    background-size: cover;

    &__quote {
        margin: 0;
        font-size: 36px;
        font-family: "NunitoSans", sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.667;
        text-align: center;
        position: relative;
        padding-top: 100px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: url(./../res/img/quote.png) no-repeat;
            width: 45px;
            height: 30px;
        }
    }

    &__name {
        text-align: center;
        font-size: 15px;
        font-family: "NunitoSans", sans-serif;
        color: rgb(94, 48, 128);
        text-transform: uppercase;
        line-height: 2.002;
        -moz-transform: matrix(1.00000101376989, 0, 0, 1.00080701431026, 0, 0);
        -webkit-transform: matrix(1.00000101376989, 0, 0, 1.00080701431026, 0, 0);
        -ms-transform: matrix(1.00000101376989, 0, 0, 1.00080701431026, 0, 0);
        transform: matrix(1.00000101376989, 0, 0, 1.00080701431026, 0, 0);
    }

    &__position {
        text-align: center;
        font-size: 15px;
        font-family: "NunitoSans", sans-serif;
        color: rgba(153, 153, 153, 0.502);
        line-height: 2;
        -moz-transform: matrix(1.00000101376989, 0, 0, 1.00080701431026, 0, 0);
        -webkit-transform: matrix(1.00000101376989, 0, 0, 1.00080701431026, 0, 0);
        -ms-transform: matrix(1.00000101376989, 0, 0, 1.00080701431026, 0, 0);
        transform: matrix(1.00000101376989, 0, 0, 1.00080701431026, 0, 0);
        margin: 0;
    }
}

.contact {
    background-color: #5e3080;

    &__title {
        margin: 0;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        color: rgb(42, 21, 56);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.333;
        text-align: center;
        -moz-transform: matrix(0.99980014826913, 0, 0, 1.00000282097659, 0, 0);
        -webkit-transform: matrix(0.99980014826913, 0, 0, 1.00000282097659, 0, 0);
        -ms-transform: matrix(0.99980014826913, 0, 0, 1.00000282097659, 0, 0);
        transform: matrix(0.99980014826913, 0, 0, 1.00000282097659, 0, 0);
    }

    &__desc {
        margin: 0;
        font-size: 46px;
        font-family: "Montserrat", sans-serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        text-align: center;
        -moz-transform: matrix(0.99980014826913, 0, 0, 1.00000282097659, 0, 0);
        -webkit-transform: matrix(0.99980014826913, 0, 0, 1.00000282097659, 0, 0);
        -ms-transform: matrix(0.99980014826913, 0, 0, 1.00000282097659, 0, 0);
        transform: matrix(0.99980014826913, 0, 0, 1.00000282097659, 0, 0);
    }

    &__mail {
        font-size: 90px;
        font-family: "NunitoSans", sans-serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1;
        text-align: center;
        text-decoration: none;
    }

    &__addr {
        font-size: 33px;
        font-family: "NunitoSans", sans-serif;
        color: rgba(255, 255, 255, 0.631);
        line-height: 1.636;
        text-align: center;
    }

    &__tel {
        font-size: 33px;
        font-family: "NunitoSans", sans-serif;
        color: rgba(255, 255, 255, 0.631);
        line-height: 1.636;
        text-align: center;
    }
}