.dn {
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.f-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  max-height: 883px;
  height: 55.18vw;
  background: url(./../res/img/hero-bg-img.png) no-repeat center, url(./../res/img/hero-bg-img.png) no-repeat center;
  background-size: cover;
}

.header__title {
  font-size: 170px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  line-height: 0.282;
  text-align: center;
}

.header__subtitle {
  font-size: 37px;
  font-family: "NunitoSans", sans-serif;
  color: #9c9c9c;
  line-height: 1.297;
}

.header__video_btn {
  border-radius: 50%;
  background-color: #793ea5;
  width: 90px;
  height: 90px;
  border: 0;
  outline: none;
  position: relative;
}

.header__video_btn::before {
  content: '';
  position: absolute;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  border-left: 23px solid #fff;
  border-top: 13.5px solid transparent;
  border-bottom: 13.5px solid transparent;
}

.header__video_text {
  font-size: 14px;
  font-family: "NunitoSans", sans-serif;
  color: #9c9c9c;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.header__btn > button {
  padding: 0;
  border: none;
  outline: none;
  background-color: #13161b;
  width: 300px;
  height: 72px;
  font-size: 12px;
  font-family: "NunitoSans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.header__btn > button:hover {
  background-color: #793ea5;
}

.about {
  background: #121212;
}

.about__coll {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services {
  background: #0f0f0f;
}

.services__coll {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works {
  background-color: #121212;
  background: url(./../res/img/works-bg.png) no-repeat left center;
  background-size: cover;
}

.gallery {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.gallery__item {
  position: relative;
  overflow: hidden;
}

.gallery__item:hover .gallery__content {
  -webkit-transition: .3s all;
  transition: .3s all;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.gallery__img {
  width: 100%;
  display: block;
}

.gallery__content {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: absolute;
  padding: 0 24px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery__name, .gallery__subname {
  margin: 0;
}

.gallery__link {
  background: url(./../res/img/card-link.png) no-repeat center;
  display: block;
  width: 44px;
  height: 76px;
}

.gallery__desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client {
  background: #0f0f0f;
}

.client__list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client span {
  font-size: 45px;
  font-family: "NunitoSans", sans-serif;
  color: rgba(255, 255, 255, 0.302);
  font-weight: bold;
  line-height: 1.933;
}

.common__title {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #793ea5;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.common__desc {
  font-size: 46px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.5;
}

.common__subdesc {
  font-size: 24px;
  font-family: "NunitoSans", sans-serif;
  color: rgba(255, 255, 255, 0.2);
  line-height: 1.625;
}

.common__card_item {
  width: 45%;
}

.common__card_title {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 0.75;
}

.common__card_desc {
  font-size: 17px;
  font-family: "NunitoSans", sans-serif;
  color: rgba(255, 255, 255, 0.4);
  line-height: 1.941;
  text-align: left;
}
/*# sourceMappingURL=main.css.map */